@font-face {
    font-family: "DaMiOne";
    src: url(/fonts/DaMiOne-Regular.ttf);
}

@font-face {
    font-family: "Strong";
    src: url(/fonts/Strong-Regular.ttf);
}

@keyframes animation-logo {   
    0% {     
        color: #0058DC;   
    }   
    20% {     
        color: #08FF6B;   
    } 
    40% {
        color: #EE4C2C;
    }
    60% {
        color: #FF0000;
    }
    80% {
        color: #08FF6B;
    }
    100% {
        color: #0058DC;
    }
}

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
    background-color: #25262A;
}

h1 {
    font-size: 50px;
    margin: 0;
    font-family: DaMiOne, sans-serif;
    color: white;
}

h2 {
    font-size: 20px;
    font-family: DaMiOne, sans-serif;
    color: white;
}

p {
    font-size: 18px;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

.contacts {
    justify-content: center;
    margin-bottom: 50px;
    gap: 25px;
    padding: 20px;
}

.contacts svg {
    padding: 8px;
    border: 2px solid;
    border-radius: 50%;
    color:#9999;
}

.contacts svg:hover{
    fill: #0F6FFF;
    color: #0F6FFF;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 80px;
}

.description {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-left: 30px;
    color: white;
}

.description .chapter {
    margin-bottom: 8px;
}

.description .chapter span {
    color: #0F6FFF;
}

.description .info {
    display: inline-block;
    margin-top: 40px;
    font-size: 18px;
    font-family: Strong, sans-serif;
}

.description .info {
    position: relative;
}

.description .info::before {
    margin-left: -15px;
    content: '';
    position: absolute;
    left:0;
    width: 3px; 
    height: 100%;
    background-color: #0F6FFF;
    box-shadow: 0 0 8px #0F6FFF
}

button {
    width: 190px;
    height: 40px;
    margin: .4em;
    padding: .4em .8em;
    background: none;
    border: 2px solid;
    border-radius: 20px;
    font-size: 18px;
    font-family: Strong, sans-serif;
    border-color: #0F6FFF;
    box-shadow: 0 0 4px #0F6FFF;
    color: white;
}

button:hover {
    background-color: #0F6FFF;
    box-shadow: none;
    cursor:pointer
}

.logo {
    font-size: 80px;
    text-align: center;
    font-family: Strong, sans-serif;
    animation: animation-logo 10s ease infinite;
}

.stack {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    background-color: #28292D;
    color:white;
}

.stack .information {
    margin: auto;
    padding-top: 70px;
    max-width: 400px;
    text-align: center;
}

.stack .chapter span {
    color: #08FF6B;
}

.stack .info {
    font-size: 18px;
    font-family: Strong, sans-serif;
}

.stack-elements{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
    margin-bottom: 80px;
}

.stack-elements li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 13px;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border-radius: 25px;
    backdrop-filter: blur(80px);
    border: 3px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.08);
}

.stack-elements li:hover {
    border-color: #FF7A00;
    transform: scale(1.1);
}

.stack-elements .icon {
    position: relative;
    display: inline-block;
}
  
.stack-elements .icon > svg:first-child {
    filter: blur(2px);
    overflow: visible;
    position: absolute;
    z-index: -1;
}

.stack-elements .title {
    font-size: 18px;
    font-family: DaMiOne, sans-serif;
}

#python {
    width: 158px;
    height: 100px;
}

#python:hover {
    border-color: #DF18FF;
}

#pytorch {
    width: 158px;
    height: 100px;
}

#pytorch:hover {
    border-color: #EE4C2C;
}

#sklearn {
    width: 190px;
    height: 100px; 
}

#sklearn:hover {
    border-color: #0058DC;
}

#pandas {
    width: 120px;
    height: 100px; 
}

#pandas:hover {
    border-color: #08FF6B;
}

#keras:hover {
    border-color: #FF0000;
}

.footer {
    margin-top: 60px;
    margin-left: 30px;
    font-size: 24px;
    font-family: Strong, sans-serif;
    color: white;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-right {
    align-content: flex-end;
}

.contact-info {
    font-size: 30px;
    color: #9999;
}

.contact-phone {
    margin: 0px;
    color: #FF7A00;
}

.contact-email{
    margin: 5px;
}

.contact-email span{
    color: #FF7A00;
}

.message {
    max-width: 400px;
    margin: 0px;
    text-align: right;
}

.footer-bottom {
    margin-top:40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rights {
    font-size: 18px;
    color: #9999;
}

.footer-contacts {
    padding: 0px;
    gap: 10px;
}

@media (max-width: 1100px) {
    .stack-elements {
        margin: auto;
        margin-bottom: 80px;
        max-width: 500px;
        padding-left: 0px;
    }
}

@media (max-width: 860px) {
    .logo { display: none; }
}

@media (max-width: 570px) {
    .stack-elements { padding: 0px; }

    .footer { 
        margin-left: 0px;
        text-align: center;
    }

    .message {text-align: center;}
    .footer-top { flex-direction: column; }
    .footer-right { margin: auto; }
    .footer-left { order: 2; }
    .footer-bottom { flex-direction: column; }
    .footer-contacts { margin: 0px; }
    .rights { order: 2; }
}

@media (max-width: 440px) {
    h1 { font-size: 44px; }
    .contacts { margin-bottom: 10px; }
    .description { margin-left: 0px; }
    .description .info { font-size: 16px; }

    .description button { 
        margin: auto;
    }

    .stack-elements {
        margin: auto;
        margin-bottom: 80px;
        max-width: 250px;
    }

    .stack-elements .title { font-size: 14px; }
    #sklearn .title { text-align: center; }

    #python {
        width: 100px;
        height: 100px;
    }

    #pytorch {

        width: 100px;
        height: 100px;
    }

    #sklearn {
        width: 100px;
        height: 100px;
    }

    #pandas {
        width: 100px;
        height: 100px;
    }
}
